@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BevoBnB</title>
    <link href="~/lib/final-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Property" asp-action="Search">BevoBnB</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-content"
                        aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="nav-content">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="HostInfo" class="nav-link">BevoBnB Your Home</a>
                        </li>
                        
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a asp-controller="RoleAdmin" asp-action="Index" class="nav-link">Manage Users</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Property" asp-action="PendingApprovals" class="nav-link">Pending Approvals</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Property" asp-action="ManageProperties" class="nav-link">Manage Properties</a>
                                </li>
                            }

                            @if (User.IsInRole("Host"))
                            {
                                <li class="nav-item">

                                    <a asp-controller="Account" asp-action="HostDashboard" class="nav-link">Host Dashboard</a>

                                    

                                    


                                </li>
                            }
                            @if (User.IsInRole("Customer"))
                            {
                                <li class="nav-item">
                                    <a asp-controller="Reservation" asp-action="Index" class="nav-link">My Reservations</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Reservation" asp-action="Cart" class="nav-link">My Cart</a>
                                </li>
                            }
                        }
                    </ul>
                    <div class="d-flex">
                        @await Html.PartialAsync("_LoginPartial")
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="container-fluid py-4">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>