@using Microsoft.AspNetCore.Identity

@if (User.Identity.IsAuthenticated)
{
    <form asp-action="LogOff" asp-controller="Account" method="post" id="logoutForm" class="d-flex align-items-center">
        <span class="text-light me-3">Hello @User.Identity.Name!</span>
        <a asp-action="Index" asp-controller="Account" title="Manage" class="btn btn-outline-light me-2">Account</a>
        <button type="submit" class="btn btn-outline-light">Log Out</button>
    </form>
}
else
{
    <div class="d-flex">
        <a asp-action="Register" asp-controller="Account" class="btn btn-outline-light me-2">Register</a>
        <a asp-action="Login" asp-controller="Account" class="btn btn-light">Log in</a>
    </div>
}