@model FinalProject.Models.Unavailability

<h2>Add Unavailability for Property</h2>

<form asp-action="UnvDates" method="post">
    <div class="form-group">
        <label asp-for="Date"></label>
        <input asp-for="Date" class="form-control" type="date" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="PropertyID" />

    <button type="submit" class="btn btn-primary">Add Unavailability</button>
</form>

<a asp-action="Reports" asp-controller="Account" class="btn btn-secondary">Back to List</a>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js"></script>
}
